* {
    margin: 0px;
    padding: 0px;
}

#headerBox {
    height: 60px;
    width: 100%;
    background-color: #0F1111;

    display: flex;
    
    align-items: center;
}

#logoDiv {
    height: 55px;
    /* background-color: green; */
    width: 120px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#amazonImageLogo {
    height: 100px;
    width: 100px;
    object-fit: contain;
    padding-top: 10px;
}

#locationButton {
    height: 55px;
    width: 150px;
    /* background-color: green; */
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#locAnchor {
    text-decoration: none;
}

#upLoc {
    font-size: 12px;
    color: rgb(186, 186, 186);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#downLoc {
    font-size: 14px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#searchAreaDiv {
    height: 55px;
    width: 500px;
    /* background-color: green; */
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}   

#selectTag {
    height: 38px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#searchBarArea {
    height: 34px;
    width: 550px;
}

#searchButton {
    height: 36px;
    width: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 0px;
    background-color: rgba(255, 190, 60, 0.939);
}

#locationPin {
    display: block;
    color: white;
    margin-right: 10px;
    
}


/* @media only screen and (max-width: 500px){
    #searchAreaDiv {
        background-color: green;
    }
} */






#india{
    /* background-color: pink; */
    height: 50px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

}
#tirangalogo{
    height: 12px;
    /* background-color: green; */
    margin-top: 10px;
    margin-left: 15px;
}
#en{
    color: white;
    margin-top: 10px;
    margin-left:3px ;
}
#hellodev{
    /* background-color: green; */
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
#order{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}
#cartlogo{
    font-size: 20px;
    color: white;
    /* background-color: green; */
    margin-left: 20px;
    margin-bottom: 5px;
}
#cart{
    color: white;
    margin-top: 30px;
    margin-left: 2px;
}
#nav_header{
    background-color:#232f3e ;
    height: 39px;
    width: 100%px;
    display: flex;
}
#all{
    color: white;
    /* background-color: green; */
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
    margin-top: 5px;
    text-decoration: none;
}
#threeline{
    font-size: 30px;
    margin-right: 2px;
    text-decoration: none;
}
#mxplayer{
    color: white;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sell{
    color: white;
    width: 60px;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#giftcard{
    color: white;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#amazonpay{
    color: white;
    width: 110px;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buyagain{
    color: white;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#amazonbasic{
    color: white;
    width: 120px;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#giftidea{
    color: white;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#todaydeal{
    color: white;
    width: 110px;
    /* background-color: blue; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}